:root {
  /* Colors */
  --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);

  /* Typograghy */
  --ff-primary: "Manrope", sans-serif;

  --fw-normal: 500;
  --fw-bold: 700;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-block-size: 100vh;
  line-height: 1.5;
}

img,
picture,
svg {
  display: block;
  max-inline-size: 100%;
}

/* General styling */
body {
  font-family: var(--ff-primary);
  font-size: 0.8125rem;
  font-weight: var(--fw-normal);
  color: var(--clr-grayish-blue);
  background-color: var(--clr-light-grayish-blue);
  place-content: center;
}

/* Main content */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  margin-block: 2rem;
}

.wrapper {
  max-inline-size: 30rem;
  inline-size: 90%;
  margin-inline: auto;
  display: grid;
}

.description-wrapper {
  padding-inline: min(2rem, 8%);
  padding-block-start: 2rem;
  padding-block-end: 1.125rem;
  background-color: white;
  display: grid;
  gap: 1rem;
}

@media(width < 40rem) {
  .thumbnail-wrapper {
    transform: translateY(17%);
    z-index: -1;
  }
}

@media(min-width: 40rem) {
  .wrapper {
    max-inline-size: 45.75rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .thumbnail-wrapper {
    grid-column: 1 / 7;
    grid-row-start: 1;
  }

  .description-wrapper {
    grid-column: 6 / -1;
    grid-row-start: 1;
    z-index: 9999;
    padding: 2.375rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .thumbnail-wrapper img {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    height: 100%;
  }
}

.description-wrapper > h2 {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-grayish-blue);
  line-height: 1.25;
  max-inline-size: 28ch;
}

.description-wrapper > p {
  max-inline-size: 42ch;
}

.meta-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.avatar {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.meta-data > div {
  flex: 1;
  min-inline-size: 12ch;
}

.name {
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-grayish-blue);
}

.share-button {
  cursor: pointer;
  background-color: var(--clr-very-dark-grayish-blue);
  padding: .5rem;
  border: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: var(--clr-light-grayish-blue);
}

.share-button svg {
  width: 1rem;
  height: 1rem;
}

.description-wrapper {
  position: relative;
}

.share-links-wrapper {
  position: absolute;
  bottom: 34%;
  right: -3.875rem;
}

.share-links {
  background-color: var(--clr-very-dark-grayish-blue);
  /* display: none; */
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 1.125rem 2.25rem;
  border-radius: .625rem;
  position: relative;
}

.share-links::before {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid var(--clr-very-dark-grayish-blue);
  transform: translateX(-50%);
}

@media(40rem < width < 56.25rem) {
  .share-links {
    padding: 10px 18px;
  }

  .share-links-wrapper {
    right: -8px;
  }

  .share-links:before {
    left: 8.625rem;
  }
}

.share-links p {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-inline-end: .375rem;
}

@media(width < 40rem) {
  .share-links-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: none;
  }

  .share-links {
    padding-inline: min(2rem, 8%);
    border-radius: 0px;
  }

  .share-links::before {
    display: none;
  }

  .share-button {
    position: absolute;
    bottom: 12px;
    right: 24px;
    z-index: 9999;
  }
}